<div class="text-bg-light mx-1">
  Benvenuto in <strong>Books World</strong>, su questo sito potrai trovare tutti i libri che vuoi sia in forma
  cartacea che e-book.
  Ogni volta che effettuerai un acquisto o scriverai una recensione in questa homepage troverai dei suggerimenti
  per te che cambieranno in base ai tuoi gusti. Se non hai ancora acquistato nulla non preoccuparti, metteremo
  noi dei libri in base alle novità.
</div>
<!-- <button class="btn btn-primary" onclick="autentica()">
  Autentica
</button> -->
