<div class="card border-dark m-2">
    <br>
    <ng-container *ngIf="libro?.accessInfo?.epub?.isAvailable; then showPremiumMessage"></ng-container>
    <ng-template #showPremiumMessage>
        <a href="{{libro?.accessInfo?.webReaderLink}}" target="_blank">
            <div class="card-header text-sm-center fw-bolder">
                <font [size]="3" class="text-warning">Premium - </font>
                <font [size]="-1" class="text-warning">Disponibile antemprima</font>
            </div>
        </a>
    </ng-template>

    <a href="/book/{{libro?.volumeInfo?.industryIdentifiers?.at(0)?.identifier}}?jsessionid={{getSessionId()}}" (click)="NascondiRisultati()" >
        <img src="{{libro?.volumeInfo?.imageLinks?.smallThumbnail}}" class="rounded mx-auto d-block"
            width="75%" height="75%"
        alt="Anteprima non disponibile"/>
    </a>
    <div class="card-body" >
        <h5  class="card-title text-sm-center text-light fs-7" (click)="NascondiRisultati()">
            <a href="/book/{{libro?.volumeInfo?.industryIdentifiers?.at(0)?.identifier}}?jsessionid={{getSessionId()}}" >
            {{libro?.volumeInfo?.title}}

          </a>
        </h5>
        <p class="card-text text-sm-center">
            <a href="http://localhost:8080/risultati?searchText={{libro?.volumeInfo?.publisher}}">
                {{libro?.volumeInfo?.publisher}}
            </a>
        </p>
        <p *ngFor="let a of libro?.volumeInfo?.authors" class=" text-sm-center fs-6">
            <a href="http://localhost:8080/risultati?searchText={{a}}">
              <font [size]="-1">
                {{a}}
              </font>
            </a>
        </p>
        <p *ngFor="let c of libro?.volumeInfo?.categories" class=" text-sm-center fs-6">
            <a class="text-light">
              <font [size]="-1">
                {{c}}
              </font>
            </a>
        </p>
        <div class="card-footer text-sm-center">
            <ng-container *ngIf="libro?.saleInfo?.saleability === 'FOR_SALE'; then showPrice; else showError"></ng-container>
            <ng-template #showPrice>
                <font [size]="-1" class="text-success">
                    {{libro?.saleInfo?.listPrice?.amount}} {{libro?.saleInfo?.listPrice?.currencyCode}}
                </font>
            </ng-template>
            <ng-template #showError>
                <font [size]="-2" class="text-danger">Non disponibile</font>
            </ng-template>
        </div>
    </div>
</div>

<!-- <p>{{libro?.volumeInfo?.title}}</p> -->
