<ng-container *ngIf="lunghezzaIsbn != null && lunghezzaIsbn == 13; then showPage; else showError"></ng-container>
<ng-template #showPage>
    <div *ngFor="let libro of libri" class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4">
            <img src="{{libro?.volumeInfo?.imageLinks?.smallThumbnail}}" class="rounded img-fluid" onerror="this.src='https://i.imgur.com/UG8hCfb.png'"height="400" width="300"> 
                <br>
                <br>
                <ng-container *ngIf="libro?.saleInfo?.saleability === 'FOR_SALE' ; then showPrice; else showError"></ng-container>
                <ng-template #showPrice>
                    <h4><span style="color:darkred">Prezzo a <strong style="font-size: larger;">{{libro?.saleInfo?.listPrice?.amount}} {{libro?.saleInfo?.listPrice?.currencyCode}}</strong></span></h4>
                </ng-template>
                <ng-template #showError>
                    <h4><span style="color:darkred">Prodotto non disponibile.</span></h4>
                </ng-template>
                <ng-container *ngIf="libro?.saleInfo?.saleability === 'FOR_SALE' && (utente.username != '' && utente.username != null); then showButtonToCart"></ng-container>
                <ng-template #showButtonToCart>
                    <button type="button" class="btn btn-success mt-1" (click)="aggiungiAlCarrello()">Aggiungi al carrello</button>
                </ng-template>
                <ng-container *ngIf="libro?.saleInfo?.saleability === 'FOR_SALE' && (utente.username === '' || utente.username == null); then showButtonToLogin"></ng-container>
                <ng-template #showButtonToLogin>
                    <a href="http://localhost:8080/login"><button type="button" class="btn btn-success mt-1">Aggiungi al carrello</button></a>
                </ng-template>
                <ng-container *ngIf="libro?.saleInfo?.saleability !== 'FOR_SALE'; then showButtonDisabled"></ng-container>
                <ng-template #showButtonDisabled>
                    <button type="button" disabled class="btn btn-success mt-1">Non disponibile</button>
                </ng-template>
                <ng-container *ngIf="libro?.accessInfo?.epub?.isAvailable; then showPremiumAvailable; else showPremiumNotAvailable"></ng-container> 
                <ng-template #showPremiumAvailable>
                    <a href="{{libro?.accessInfo?.webReaderLink}}" target="_blank"><button type="button" class="btn btn-warning mt-1 pulsanteAnteprima">Anteprima disponibile</button></a>
                </ng-template>
                <ng-template #showPremiumNotAvailable>
                    <button type="button" disabled class="btn btn-warning mt-1 pulsanteAnteprima">Anteprima non disponibile</button> 
                </ng-template>

            </div>
            <div class="col-sm-8">
                <h1><span style="color:rgb(130,114,6)"><b>{{libro?.volumeInfo?.title}}</b></span></h1>
                <h5>Descrizione</h5>
                <p>{{libro?.volumeInfo?.description}}</p>
                <p *ngIf= "libro?.volumeInfo?.description == null " ; class="h6">Informazioni non disponibili.</p>
                <br>
                <h2>Informazioni sul prodotto</h2>

                <span class="fw-bold">  Genere: </span>
                <span *ngFor="let genere of libro?.volumeInfo?.categories">{{genere}}. </span>
                <span *ngIf="libro?.volumeInfo?.categories == null" class="h6">Informazioni non disponibili.</span>
                <br>
                <span class="fw-bold">  Data Pubblicazione: </span>
                <span>{{libro?.volumeInfo?.publishedDate}}</span>
                <span *ngIf="libro?.volumeInfo?.publishedDate == null" class="h6">Informazioni non disponibili.</span>
                <br>
                <span class="fw-bold">  Autori: </span>
                <span *ngFor="let autore of libro?.volumeInfo?.authors">{{autore}}. </span>
                <span *ngIf="libro?.volumeInfo?.authors == null" class="h6">Informazioni non disponibili.</span>
                <br>
                <span class="fw-bold">  Editori: </span>
                <span *ngIf="libro?.volumeInfo?.publisher == null" class="h6">Informazioni non disponibili</span>
                <span>{{libro?.volumeInfo?.publisher}}.</span>
                <br>
                <span class="fw-bold">  Numero pagine: </span>
                <span>{{libro?.volumeInfo?.pageCount}}</span>
                <span *ngIf="libro?.volumeInfo?.pageCount == null" class="h6">Informazioni non disponibili.</span>
                <br>
                <span class="fw-bold">  Lingua: </span>
                <span>{{libro?.volumeInfo?.language}}.</span>
                <span *ngIf="libro?.volumeInfo?.language == null" class="h6">Informazioni non disponibili.</span>
                <br>
                <span class="fw-bold">  ISBN: </span>
                <span>{{libro?.volumeInfo?.industryIdentifiers?.at(0)?.identifier}}</span>
                <br>

            </div>
        </div>

        <ng-container *ngIf="utentePossiedeLibro !== false && utenteHaPostatoRecensione === false; then showReview"></ng-container>
        <ng-template #showReview>
            <div class="row mt-6">
                <h3> Hai già acquistato questo libro, se vuoi puoi aggiungere una recensione! </h3>
                <form id="formRecensione">
                    <div class="form-group row mt-3">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="titoloRecensione" placeholder="Inserisci un titolo" pattern="^[A-Za-z\s]+$" minlength="15" maxlength="100" required >
                        </div>   
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-7">
                            <textarea class="form-control" id="testoRecensione" placeholder="Descrivi quello che pensi di questo libro" rows="7" pattern="^[A-Za-z\s]+$" minlength="50" maxlength="2000" required ></textarea>
                        </div>
                    </div>
                    <div class="form-group row mt-3" id="aggiungiRecensione">
                        <h5> Quante stelle assegneresti a questo libro? </h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="valutazioneLibro" id="valutazioneUno" value="option1" required>
                            <label class="form-check-label" for="valutazioneUno"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="valutazioneLibro" id="valutazioneDue" value="option2" required>
                            <label class="form-check-label" for="valutazioneDue"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="valutazioneLibro" id="valutazioneTre" value="option3" required>
                            <label class="form-check-label" for="valutazioneTre"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="valutazioneLibro" id="valutazioneQuattro" value="option4" required>
                            <label class="form-check-label" for="valutazioneQuattro"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="valutazioneLibro" id="valutazioneCinque" value="option5" required>
                            <label class="form-check-label" for="valutazioneCinque"> <span class="fa fa-star checked"></span> </label>
                        </div>
                        <button type="button" class="btn btn-primary mt-4" (click)="invioRecensione()">Pubblica la recensione</button>
                        <br>
                        <span id="messaggioErrore" style="color:red" class="mt-1"></span>
                    </div>
                    
                </form>
            </div>
        </ng-template>
        <ng-container *ngIf="utentePossiedeLibro !== false && utenteHaPostatoRecensione === true; then showMessage"></ng-container>
        <ng-template #showMessage>
            <div class="row mt-6">
                <h3> Hai già scritto una recensione per questo libro! </h3>
            </div>
        </ng-template>

        <div class="row mt-6">
            <app-recensioni [ISBN]="isbn" [aggiorna]="utenteHaPostatoRecensione" [utente]="utente"></app-recensioni>
        </div>

    </div>
</ng-template>

<ng-template #showError>
    <div class="container" style="margin-top:30px ; padding-bottom:80px">
        <div class="row">
            <div class="row">
                 <img src="https://i.imgur.com/T13JGAJ.png" class="img-fluid mt-5 errore mx-auto d-block">   
            </div>
            <div class="row">
                <h3 class="mt-5 text-center "> Ci dispiace, ma attualmente il libro selezionato non può essere visualizzato. </h3>
            </div>
        </div>
    </div>

</ng-template>

